h1 {
    font-size: 5rem;
    font-family: sans-serif;
}

.valokuva {
    height: 60vh;
    width: 140vh;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

body {
    background-color: #E6F5E6; /* Vaalean vihreä */
}

p, h1, h2, h3 {
    color: #333; /* Tummanharmaa */
}

a {
    color: #008000; /* Tummanvihreä */
    text-decoration: none; /* Poista alleviivaukset */
}

a:hover {
    color: #006400; /* Tumma vihreä */
}

.minä {
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: grey;
}
